.container{
    position: fixed;
    top: 0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.beer-info {
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    position: relative;
   border: 1px solid;
   background: #fff;
   margin-top: 5%;
   text-align: center;
   border: 3px solid #00A6CD;
   border-radius: 10px;
}
.card-img-full-card{
    height: 200px;
    width: 100px;
    padding-right: 10px;
    border-right: 3px solid #666666
}
.name-row{
    color: #00A6CD;
    font-size: 20px;
    font-weight: bold;
}
.titles{
    text-align: start;
    font-weight: bold;
    color: #666666
}
.info{
    text-align: start;
}
.descrition{
    background-color: #00A6CD;
    color: #fff
}