.filter-menu{
    padding: 1rem;
}
#name-search {
    margin-bottom: 1rem;
    border-bottom: 2px solid #00A6CD;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}
.filter-check{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter-check input {
    margin-left: 1rem;
    margin-right: 0.5rem;
}